:root {
  --columns: 12;
  --column-width: calc(100% / var(--columns) - var(--gutter));
  --gutter: 20px;
}

.grid {
  width: calc(100% - 20px);
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.offset-col-1 {
  margin-left: var(--column-width)
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'open sans', 'helvetica', 'arial', sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  background: url("../img/background.jpg") fixed no-repeat center;
  height: 100vh;
  max-width: 100vw;
  align-content: center;
  justify-content: center;
}

h1 {
  font-size: 1.5em;
}

header h2 {
  font-size: 0.875em;
}

header * {
  color: white;
}

body {
  font-size: 16px;
  color: #222222;
}

main {
  margin: auto;
}

.vidburdir-wrapper {
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
  padding: 1em;
  flex-direction: column;
  background-color: #cccccc;
  justify-content: space-between;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.vidburdir-wrapper p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.card-wrapper {
  height: 18rem;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.framhlid {
  font-size: 2rem;
  text-align: center;
  justify-content: center;
}

.bakhlid {
  transform: rotateY(180deg);
}

.baekur-wrapper {
  border: 1px solid #999999;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  height: 28em;
  background-color: #cccccc;
}

.baekur-wrapper > * {
  padding: 1em;
}

.image-wrapper {
  max-width: 100%;
  height: 200px;
  padding: 0em;
  transition: transform 0.3s;
  overflow: hidden;
}

.baekur-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0em;
  transition: transform 0.3s;
}

.book-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}


.kaupa {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.book-information p:first-child {
  font-size: 1.5em;
  font-weight: bold;
}

.col-3 {
  width: calc((var(--column-width) + var(--gutter)) * 3);
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: var(--gutter);
}

.col-4 {
  width: calc(100% / 3);
  padding-left: 10px;
  padding-right: 10px;
}

.offset-1 {
  margin-left: calc(var(--column-width) + var(--gutter));
}

a {
  color: #000000;
}

button {
  border: none;
  background-color: #000000;
  color: #eeeeee;
  padding: 0.25em;
  border-radius: 10%;
  transition: all 0.3s;
}

h3 {
  font-size: 1.5em;
  margin: 1em;
}

h1, h2, h3, h4, h5  .book-information p:first-child {
  font-family: 'Montaga', 'georgia', serif;
}

/*kvikanir*/
.card-wrapper:hover .card {
  transform: rotateY(180deg);
}

.baekur-wrapper:hover img {
  transform: scale(1.2);
}

button:hover {
  background-color: #ffffff;
  color: #000000;
}

button:active {
  background-color: #000000;
  color: #ffffff;
}

@media (max-width: 700px) {
  /*medium display*/
  .col-4 {
    width: calc((var(--column-width) + var(--gutter)) * 10);
    margin-left: calc(var(--column-width) + var(--gutter));
    margin-bottom: var(--gutter);
  }

  .col-3 {
    width: calc((var(--column-width) + var(--gutter)) * 5);
  }

  .offset-sm-1 {
    margin-left: calc(var(--column-width) + var(--gutter));
  }

}

@media (max-width: 400px) {
  .col-3 {
    width: calc((var(--column-width) + var(--gutter)) * 10);
    margin-left: calc(var(--column-width) + var(--gutter));
  }
}
